

<div class="container margin-to-10" >
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div id="new-form"   >

 
 			<div class=" "> 
				<div class="w3l_contact_form" ng-show="setEmail">
					<h4>reset password</h4>

				 

								<form name="userProfile" ng-submit="userProfileSubmit()" ng-show="request" >

									<div class="form-group has-feedback" 
									ng-class="{ 'has-success' : userProfile.type.$valid, 'has-error' : userProfile.type.$invalid && !userProfile.type.$pristine }">
  
  <label class="control-label text-capitalize" for="inputWarning2">select user</label>

										<select  class="form-control" name="type" id="type" placeholder="select user type" ng-model="user.type"  ng-minlength="2" ng-maxlength="255" required>
											<option value="customer">customer</option>
											<option value="distributor">distributor</option>
										</select>

										<span class="glyphicon form-control-feedback"  aria-hidden="true"
										ng-class="{ 'glyphicon-ok' : userProfile.type.$valid, 'glyphicon-remove' : userProfile.type.$invalid && !userProfile.type.$pristine }" ></span>
										<span span ng-show="userProfile.type.$invalid && userProfile.type.$error.required && !userProfile.type.$pristine " class="help-block">Your type is required.</span> 

									</div>    

									<div class="form-group has-feedback" 
									ng-class="{ 'has-success' : userProfile.email.$valid, 'has-error' : userProfile.email.$invalid && !userProfile.email.$pristine }">
  <label class="control-label text-capitalize" for="inputWarning2">email</label>
 
										<input type="email" class="form-control1" name="email" id="email" placeholder="Enter your email" ng-model="user.email" ng-maxlength="255" ng-change="emailError = null " required >
										<span style="padding-top: 2em;" class="glyphicon form-control-feedback"  aria-hidden="true"
										ng-class="{ 'glyphicon-ok' : userProfile.email.$valid, 'glyphicon-remove' : userProfile.email.$invalid && !userProfile.email.$pristine }" ></span>
										<span span ng-show="userProfile.email.$invalid && userProfile.email.$error.required && !userProfile.email.$pristine " class="help-block">Your email is required.</span>   
					            		<span ng-show="userProfile.email.$invalid && userProfile.email.$error.maxlength" class="help-block">email is too long.</span>
					  					<span ng-show="userProfile.email.$invalid && userProfile.email.$error.email" class="help-block">Invalid email address.</span>
					  					<span ng-show="userProfile.email.$invalid && emailError" class="help-block">{{emailError}}</span>

									</div>    






					 
									<div class="form-group has-feedback" >
 
											<input type="submit"   ng-disabled="userProfile.$invalid || userProfile.$pristine "  value="find me">
										 
									</div>     

								</form>
 

								<form ng-show="!request" >

								<div class="alert  {{msg.class}}" ng-show="msg.show">
								  <i class="fa  {{msg.icon}}" aria-hidden="true"></i>
								  <strong>{{msg.sub}}</strong> {{msg.msg}}
								</div>

									

								</form>





					<div class="user-botto">
					  <a href="login">already have an account</a>
					</div>
				</div>



								<div class="w3l_contact_form" ng-show="!setEmail">
									<h4>new password</h4>

		 

						<form name="newPassProfile" ng-submit="newPassProfileSubmit()" ng-show="isNewPass" >

			<div class="form-group has-feedback" 
			ng-class="{ 'has-success' : newPassProfile.password.$valid, 'has-error' : newPassProfile.password.$invalid && !newPassProfile.password.$pristine }">

				<input type="password" class="form-control1" name="password" id="password" placeholder="Enter your password" ng-model="customer.password"  ng-minlength="6" ng-maxlength="255" required >
				<span class="glyphicon form-control-feedback"  aria-hidden="true"
				ng-class="{ 'glyphicon-ok' : newPassProfile.password.$valid, 'glyphicon-remove' : newPassProfile.password.$invalid && !newPassProfile.password.$pristine }" ></span>
				<span span ng-show="newPassProfile.password.$invalid && newPassProfile.password.$error.required && !newPassProfile.password.$pristine" class="help-block">Your password is required.</span>            
				<span ng-show="newPassProfile.password.$invalid && newPassProfile.password.$error.minlength" class="help-block">password is too short.</span>
        		<span ng-show="newPassProfile.password.$invalid && newPassProfile.password.$error.maxlength" class="help-block">password is too long.</span>
			</div>   



			<div class="form-group has-feedback" 
			ng-class="{ 'has-success' : newPassProfile.repassword.$valid, 'has-error' : newPassProfile.repassword.$invalid && !newPassProfile.repassword.$pristine }">

				<input type="password" class="form-control1" name="repassword" id="repassword" placeholder="Confirm your password" ng-model="customer.repassword"  ng-minlength="6" ng-maxlength="255"  compare-to="customer.password" required >
				<span class="glyphicon form-control-feedback"  aria-hidden="true"
				ng-class="{ 'glyphicon-ok' : newPassProfile.repassword.$valid, 'glyphicon-remove' : newPassProfile.repassword.$invalid && !newPassProfile.repassword.$pristine }" ></span>
				<span span ng-show="newPassProfile.repassword.$invalid && newPassProfile.repassword.$error.required && !newPassProfile.repassword.$pristine" class="help-block">Your password is required.</span>            
				<span ng-show="newPassProfile.repassword.$invalid && newPassProfile.repassword.$error.minlength" class="help-block">password is too short.</span>
        		<span ng-show="newPassProfile.repassword.$invalid && newPassProfile.repassword.$error.maxlength" class="help-block">password is too long.</span>
        		<span ng-show="newPassProfile.repassword.$invalid  &&  newPassProfile.repassword.$error && (customer.repassword !== customer.password) && !newPassProfile.repassword.$error.minlength && !newPassProfile.repassword.$error.maxlength  " class="help-block">password mismatch.</span>
			</div>   




			<div class="form-group has-feedback" >

					<input type="submit"   ng-disabled="newPassProfile.$invalid || newPassProfile.$pristine "  value="Submit">
				 
			</div>  
												</form>
				 

												<form ng-show="!isNewPass" >

												<div class="alert  {{msg1.class}}" ng-show="msg1.show">
												  <i class="fa  {{msg1.icon}}" aria-hidden="true"></i>
												  <strong>{{msg1.sub}}</strong> {{msg1.msg}}
												</div>

													

												</form>





									<div class="user-botto">
									  <a href="login">already have an account</a>
									</div>
								</div>










			</div>

              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>




