
<div class="widget_4" style=" margin-bottom: 10px ; " ng-cloak>
	   
	   	 <h3>instructions</h3>
	  
	 	<div class="row"  >


	 	<div class="col-md-12 padding-b-10" ng-repeat="instruction in instructions">
	 		<p class="col-sm-11" ng-class="{  'color-blue' : instruction.type == 1, 'color-black' : instruction.type == 0  }">
	 			{{instruction.description}}
	 		</p>
	 		<p class="col-sm-1" >
	 			<i ng-click="removeMe( instruction )" class="fa fa-times-circle" aria-hidden="true"></i>
	 		</p>

	 	</div>


	   </div>
	    
	  
</div>



<div class="grid_3 grid_4" style=" min-height: " ng-cloak>
 

	<h3 class="text-capitalize">add new instructions</h3>
	<div class="tab-content">
		<div class="tab-pane active" id="horizontal-form">

 
			<form name="instructionProfile" ng-submit="instructionSubmit()" >

				<div class="form-group has-feedback" 
				ng-class="{ 'has-success' : instructionProfile.type.$valid, 'has-error' : instructionProfile.type.$invalid && !instructionProfile.type.$pristine }">

					<label class="control-label text-capitalize" for="inputWarning2">type</label>
					 
					<select  type="text" class="form-control1" name="type" id="type" placeholder="Enter your type" ng-model="instruction.type"    required >
						<option value="0">instructions</option>
						<option value="1">terms and conditions</option>
					</select>

					<span class="glyphicon form-control-feedback"  aria-hidden="true"
					ng-class="{ 'glyphicon-ok' : instructionProfile.type.$valid, 'glyphicon-remove' : instructionProfile.type.$invalid && !instructionProfile.type.$pristine }" ></span>
					<span span ng-show="instructionProfile.type.$invalid && instructionProfile.name.$error.required" class="help-block">Your type is required.</span>            
				

				</div>    



				<div class="form-group has-feedback" 
				ng-class="{ 'has-success' : instructionProfile.description.$valid, 'has-error' : instructionProfile.description.$invalid && !instructionProfile.description.$pristine }">

					<label class="control-label text-capitalize" for="inputWarning2">description</label>
					<textarea  class="form-control1" name="description" id="description" placeholder="Enter your description" ng-model="instruction.description" ng-minlength="6"  required></textarea>
					<span class="glyphicon form-control-feedback"  aria-hidden="true"
					ng-class="{ 'glyphicon-ok' : instructionProfile.description.$valid, 'glyphicon-remove' : instructionProfile.description.$invalid && !instructionProfile.description.$pristine }" ></span> 
            		<span ng-show="instructionProfile.description.$invalid && instructionProfile.description.$error.minlength" class="help-block">description is too short.</span> 
				</div> 


 


 
				<div class="form-group has-feedback" >

					<div class="col-sm-offset-5 col-sm-3">
						<input type="submit" class="btn-primary btn" ng-disabled="instructionProfile.$invalid || instructionProfile.$pristine "  value="Submit">
					</div>
				</div>    
		 
			</form>
		</div>
	</div>

	<div class="panel-body">
		<form role="form" class="form-horizontal">

		</form>
	</div>
	<div class="bs-example" data-example-id="form-validation-states-with-icons">
		<form>

		</form>
	</div>
</div>






